* {
  margin: 0;
  padding: 0px;
}

ul {
  list-style: none;
}

.app {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0px;
  justify-content: center;
  width: 100%;
}
.container{
  margin: 0;
  padding: 0px;
  width: 1200px;
}