@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

p {
  margin: 0;
  padding: 0;
}

button {
  border-radius: 0.25rem;

}


.book-list-item {
  display: flex;
  width: auto;
  height: 100%;
  padding: 5px;
  border-radius: 0.25rem;
  font-family: 'Recursive', sans-serif;
}

.book-list-item__img {
  width: 6rem;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.089);
}

.about {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
  padding: 0px;
  margin-left: 1rem;
}

.about>li {
  width: auto;
}

.about__title {
  display: flex;
  cursor: pointer;
  text-decoration: none;
  background-color: inherit;
  border: none;
  font-size: 1.25rem;
  font-weight: 500;
  text-align: left;
  border: none;
  outline: none;
}


.about__title:hover {
color: rgb(2, 128, 57);
}

.about__authors {
  height: 2rem;
  padding: 5px 0;
  font-size: 0.75rem;
  color: black;
}

.about__cost {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  height: 2rem;
  background-color: rgb(2, 128, 57);
  width: 70%;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.btn,
.btn:focus,
.btn:active,
.btn:hover {
  border: none;
  color: aliceblue;
  outline: none;
}

.btn:active {
  background-color: seagreen;

}