@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100%;
}

.logo {
  font-size: 2rem;
  font-family: 'Train One', cursive;
}

.cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.849);
  font-size: 1.25rem;
  font-family: 'Yatra One', cursive;
}
.cart__items{
  margin-left: 0.5rem;
}
.fas {
  color:rgba(0, 128, 0, 0.534);
}